<!DOCTYPE html>
<html lang="en">
<head th:insert="navbar.html :: head">
    <title>Candidates</title>
</head>
<body>
<header class="header" th:insert="navbar.html :: nav"></header>
    <main class="main">
        <h1 class="h1 text-center">Candidates</h1>
        <table class="table">
            <thead>
                <tr>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>E-mail</th>
                    <th>Role</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="candidate : ${candidates}">
                    <td th:text="${candidate.getFirstname()}"></td>
                    <td th:text="${candidate.getLastname()}"></td>
                    <td th:text="${candidate.getEmail()}"></td>
                    <td class="role" th:text="${candidate.getRole()}"></td>
                    <td><a th:href="@{/candidates/edit/{id}(id=${candidate.getId()})}" class="btn btn-primary btn-sm">Edit</a></td>
                    <td><a th:href="@{/candidates/delete/{id}(id=${candidate.getId()})}" class="btn btn-primary btn-sm">Delete</a></td>
                </tr>
            </tbody>
        </table>
        <a th:href="@{/candidates/new}" class="btn btn-primary btn-lg">Add</a>
    </main>
    <footer class="text-center"></footer>
</body>
</html>