<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
</head>
<body>
    <main>
        <nav class="nav-bar">
            <a th:href="@{/interview/start}" class="btn menu-item ">Start new interview</a>
            <a th:href="@{/candidates}" class="btn menu-item manager-admin">Manage candidates</a>
            <a th:href="@{/candidates/new}" class="btn">Add candidate</a>
            <a th:href="@{/questions}" class="btn menu-item manager-admin">Manage questions and answers</a>
        </nav>
        <h1>Page under construction</h1>
    </main>
</body>
</html>