<!DOCTYPE html>
<html lang="en">
<head th:insert="navbar.html :: head">
    <title>Add candidate</title>
</head>
<body>
<header class="header" th:insert="navbar.html :: nav">
    <h1 class="h1 text-center">New Candidate</h1>
</header>
<main>
    <form th:action="@{/candidates/add}" th:object="${candidate}" method="post" class = "form" novalidate>
        <div class="form-group">
            <label for="first-name" class="label">First name</label>
            <input type="text" th:field="*{firstname}" id="first-name" placeholder="First name" maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="last-name" class="label">Last name</label>
            <input type="text" th:field="*{lastname}"  id="last-name" placeholder="Last name" maxlength="20" required>
        </div>
        <div class="form-group">
            <label for="email" class="label">E-mail</label>
            <input type="text" th:field="*{email}" class="email" id="email" placeholder="E-mail" maxlength="40" required>
        </div>

        <p>Role</p>
            <input class="btn-check" type="radio" id="junior" autocomplete="off" th:field="*{role}" th:value="junior" checked>
            <label class="btn" for="junior">Junior</label><br>
            <input class="btn-check" type="radio" id="medior" autocomplete="off" th:field="*{role}" th:value="medior">
            <label class="btn" for="medior">Medior</label><br>
            <input class="btn-check" type="radio" id="senior" autocomplete="off" th:field="*{role}" th:value="senior">
            <label class="btn" for="senior">Senior</label>

        <div class = "alerts">
            <!--either empty or tells that user already exists -->
            <p th:text="${exists}"></p>
        </div>
        <input type="submit" class="btn btn-primary btn-lg" id="submit" value="Start">
    </form>
</main>
<footer class="text-center"></footer>
<script type="text/javascript" src="/javascript/validate-forms.js"></script>
</body>
</html>