<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Questions overview</title>
</head>
<body>
<main>
  <table class="table">
    <tbody>
      <tr th:each="question : ${questions}">
        <td class="question" th:text="${question.getQuestion()}"></td>
        <td><a th:href="@{/questions/edit/{id}(id=${question.getId()})}" class="btn">Details</a></td>
        <td><a th:href="@{/questions/delete/{id}(id=${question.getId()})}" class="btn">Delete</a></td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/questions/new}" class="btn">New</a>
</main>
</body>
</html>