<!DOCTYPE html>
<html lang="en">
<head th:insert="navbar.html :: head">
    <title>Candidate Details</title>
</head>
<body>
<header class="header" th:insert="navbar.html :: nav">
        <h1 class="h1 text-center">Candidate Details</h1>
    </header>
    <main class = "content">
        <div class="info-group">
            <label>First name</label>
            <span th:text="${candidate.getFirstname()}"></span>
        </div>
        <div class="info-group">
            <label>Last name</label>
            <span th:text="${candidate.getLastname()}"></span>
        </div>
        <div class="info-group">
            <label>E-mail</label>
            <span th:text="${candidate.getEmail()}"></span>
        </div>
        <div class="info-group">
            <label>Role</label>
            <span th:text="${candidate.getRole()}"></span>
        </div>
    </main>
    <footer class="text-center"></footer>
</body>
</html>