<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update candidate</title>
</head>
<body>
  <main>
    <form th:action="@{/candidates/update/{id}(id=${candidate.id})}" th:object="${candidate}" method="post">
      <div class="row">
        <div class="form-group">
          <label for="street" class="col-form-label">First name</label>
          <!-- TODO: find out what th:field does and use it for my case -->
          <input type="text" th:field="*{street}" id="first-name" placeholder="street">
        </div>
        <div class="form-group">
          <label for="number" class="col-form-label">Last name</label>
          <input type="text" th:field="*{number}" class="form-control" id="last-name" placeholder="number">
        </div>
        <div class="form-group">
          <label for="box" class="col-form-label">E-mail</label>
          <input type="text" th:field="*{box}" class="form-control" id="email" placeholder="box">
        </div>
        <div class="form-group">
          <label for="zip" class="col-form-label">Role</label>
          <!-- TODO: make radiobutton/dropdown for role -->
        </div>
        <div class="row">
        <div class="col-md-6 mt-5">
          <input type="submit" class="btn btn-primary" value="Bewaar">
        </div>
      </div>
      <p>
        <a href="../addresses.html" th:href="@{/addresses}"><i class="fas fa-home" style="font-size:20px"></i> Terug</i></a>
      </p>
    </form>
  </main>
</body>
</html>