<!DOCTYPE html>
<html lang="en">
<head>
    <title>Update question</title>
</head>
<body>
<header class="header" th:insert="navbar.html :: nav">
</header>
    <main class="main">
        <h1 class="h1 text-center">Update Question</h1>
        <form th:action="@{/candidates/update/{id}(id=${id})}" th:object="${q}" method="post" id="question-info" class="form" novalidate>
            <p>Who should this question be asked to?</p>
                <input class="btn-check" type="radio" id="junior" autocomplete="off" th:field="*{role}" value="junior" th:checked="${q.getRole()} == 'junior'">
                <label class="btn" for="junior">Junior</label>
                <input class="btn-check" type="radio" id="medior" autocomplete="off" th:field="*{role}" value="medior" th:checked="${q.getRole()} == 'medior'">
                <label class="btn" for="medior">Medior</label>
                <input class="btn-check" type="radio" id="senior" autocomplete="off" th:field="*{role}" value="senior" th:checked="${q.getRole()} == 'senior'">
                <label class="btn" for="senior">Senior</label>
                <input class="btn-check" type="radio" id="everyone" autocomplete="off" th:field="*{role}" value="" th:checked="${q.getRole()} == ''">
                <label class="btn" for="everyone">Everyone</label>

            <p>Who should ask this question?</p>
                <input class="btn-check" type="radio" id="recruiter" autocomplete="off" th:field="*{category}" th:value="recruiting" th:checked="${q.getCategory()} == 'recruiting'">
                <label class="btn" for="recruiter">Recruiter</label>
                <input class="btn-check" type="radio" id="technical" autocomplete="off" th:field="*{category}" th:value="technical" th:checked="${q.getCategory()} == 'technical'">
                <label class="btn" for="technical">Technical assessor</label>

            <p>When should the question be asked and is it required</p>
                <input class="btn-check" type="radio" id="start" autocomplete="off" th:field="*{questionType}" th:value="start'" th:checked="${q.getQuestionType()} == 'start'">
                <label class="btn" for="start">At the start (required question)</label>
                <input class="btn-check" type="radio" id="middle" autocomplete="off" th:field="*{questionType}" th:value="middle" th:checked="${q.getQuestionType()} == 'middle'">
                <label class="btn" for="middle">In the middle (non required question)</label>
                <input class="btn-check" type="radio" id="end" autocomplete="off" th:field="*{questionType}" th:value="end" th:checked="${q.getQuestionType()} == 'end'">
                <label class="btn" for="end">Technical assessor</label>

            <div>
                <label for="question" class="label">Question</label>
                <input type="text" th:field="*{question}" id="question" maxlength="255" required>
            </div>
            <div class="answers" th:object="${answers}">
                <table>
                    <tr th:each="answer: ${answers}">
                        <td><input type="text" th:field="${answer.answer}"></td>
                        <td><a th:href="@{/answers/delete/{id}(id=${answer.getId()})}" class="btn">Delete</a></td>
                    </tr>
                </table>
            </div>
            <div class="alerts"></div>
            <input type="submit" class="btn btn-primary btn-lg" id="submit" value="Save">
        </form>
    </main>
    <footer class="text-center"></footer>
    <script src="/javascript/validate-forms.js"></script>
</body>
</html>