<!DOCTYPE html>
<html lang="en">
<head th:insert="navbar.html :: head">
  <title>Update candidate</title>
</head>
<body>
<header class="header" th:insert="navbar.html :: nav"></header>
  <main class="main">
    <h1 class="h1 text-center">Update Candidate</h1>
    <form th:action="@{/candidates/update/{id}(id=${id})}" th:object="${cand}" method="post" class="form" novalidate>
      <div class="form-group">
        <label for="first-name" class="col-form-label">First name</label>
        <input type="text" th:field="*{firstname}" id="first-name" th:value="${cand.getFirstname()}" maxlength="20" required>
      </div>
      <div class="form-group">
        <label for="last-name" class="col-form-label">Last name</label>
        <input type="text" th:field="*{lastname}"  id="last-name" th:value="${cand.getLastname()}" maxlength="20" required>
      </div>
      <div class="form-group">
        <label for="email" class="col-form-label">E-mail</label>
        <input type="text" th:field="*{email}" class="email" id="email" th:value="${cand.getEmail()}" maxlength="40" required>
      </div>
      <p>Role</p>
        <input class="btn-check role" type="radio" id="junior" autocomplete="off" th:field="*{role}" th:value="junior">
        <label class="btn" for="junior">Junior</label><br>
        <input class="btn-check role" type="radio" id="medior" autocomplete="off" th:field="*{role}" th:value="medior">
        <label class="btn" for="medior">Medior</label><br>
        <input class="btn-check role" type="radio" id="senior" autocomplete="off" th:field="*{role}" th:value="senior">
        <label class="btn" for="senior">Senior</label>

      <div class="alerts"></div>
      <input type="submit" class="btn btn-primary btn-lg" id="submit" value="Save">
    </form>
  </main>
  <footer class="text-center"></footer>
  <script src="/javascript/validate-forms.js"></script>
</body>
</html>
